body{
   
  margin: 0;
}
.navbar{
  background: linear-gradient(90deg, blue 1.47%, orange 88.47%);
  
}
.navbar ul{
list-style-type: none;
display: block;
text-align: center;
margin: 0;
padding: 0;
overflow: hidden;
}
.navbar ul  li{
float: left; 
}
.navbar ul li a{
  text-decoration: none;
  display: block;
  padding: 16px;
  text-align: center;
  color: white;
  font-size: 22px;
}
.navbar ul li a:hover{
background-color: #111;
} 
h1{
text-align: center;
background-color: #1c5381; 
padding: 20px;
margin: 0;
}
#foto{
max-width: 1000px;
margin: 24px auto; 
  
}
#foto img{
max-width: 600px;
margin: 24px auto;
}
.pie{
width: 100%;
height: 80px;
margin-top: 320px;
background-color: #1c5381;
margin-bottom: 0px;
clear: both;
}
.pie p{
text-align: center;
padding: 20px;
} 

 