body{
  padding: 0;
  margin: 0;
}
.navbar{
  background: linear-gradient(90deg, blue 1.47%, orange 88.47%);
  overflow: hidden;
}
li{
list-style: none;
}
.navbar li a{
  text-decoration: none;
  list-style: none;
}
.navbar a{
  color: white;
  font-size: 20px;
  font-weight: 600px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
text-align: center;
background-color: #1c5381; 
padding: 20px;
margin: 0;
}
#foto{
  width: 560px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#foto img{
width: 100%;
height: auto;
}
.pie{
width: 100%;
height: 80px;
margin-top: 220px;
background-color: #1c5381;
margin-bottom: 0px;
}
.pie p{
text-align: center;
padding: 20px;
} 

@media (min-width:260px) and (max-width:760px){

  #foto{
    width:80%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  #foto img{
  width: 560px;
  height:auto;
  }
  .pie{
  width: 100%;
  height: 80px;
  margin-top: 60px;
  background-color: #1c5381;
  margin-bottom: 0px;
  }
  .pie p{
  text-align: center;
  padding: 20px;
  } 
  
}